.container{
    width: 100%;
    height: 100%;
    overflow:none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 92%;
    
}
.tables{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    overflow-y:scroll;
}
.tables::-webkit-scrollbar{
    width: 6px;
    background-color: none;
}
.tables::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #aaa;
}