.container{
    width: 100%;
    height: 100%;
    overflow:none;
}
.icon{
    display: flex;
    width: 45%;
    height: 4%;
}
.iconPlus{
    width: 4%;
    height: 100%;
    stroke-width: 1%;
    border-radius: 4.5px;
}
.iconPlus:hover{
    cursor: pointer;
    background-color: #403634;
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 2%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 92%;
    
}
.tables{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    overflow-y:scroll;
}
.tables::-webkit-scrollbar{
    width: 6px;
    background-color: none;
}
.tables::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #aaa;
}